
        html {
            scroll-behavior: smooth;
        }

        nav {
            -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
            background-color:rgba(255, 255, 255, 0.5);
        }

        #mobile-menu {
            position: fixed;
            background-color: rgba(255, 255, 255, 0.8);
            -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
            z-index: 1000;
        }
        .hero-section-content {
            position: relative;
            z-index: 10;
        }

        .hero-section-overlay {
            z-index: 5;
        }

        .custom-button {
            align-items: center;
            background-image: linear-gradient(144deg, #ff4040, #be42f3 50%, #2f00eb);
            border: 0;
            border-radius: 10px;
            box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
            box-sizing: border-box;
            color: #ffffff;
            display: flex;
            font-size: 18px;
            justify-content: center;
            line-height: 1em;
            max-width: 100%;
            min-width: 140px;
            padding: 3px;
            text-decoration: none;
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
            white-space: nowrap;
            cursor: pointer;
            transition: all 0.3s;
        }

        .custom-button:active,
        .custom-button:hover {
            outline: 0;
        }

        .custom-button:active {
            transform: scale(0.9);
        }

        .custom-button span {
            background-color: rgb(5, 6, 45);
            padding: 16px 24px;
            border-radius: 6px;
            width: 100%;
            height: 100%;
            transition: 300ms;
        }

        .custom-button:hover span {
            background: none;
        }

        button:active {
            transform: scale(0.9);

        }

        #slider {
            will-change: transform;
        }

        .overflow-hidden {
            overflow: hidden;
        }

        .min-w-33 {
            flex: 0 0 33.33%;
        }

        .neon-hover:hover {
            text-shadow: 0 0 5px rgba(17, 52, 188, 0.7),
                0 0 10px rgba(255, 69, 0, 0.7),
                0 0 15px rgba(255, 165, 0, 0.7),
                0 0 20px rgba(255, 255, 0, 0.7);
        }

        .neon{
            text-shadow: 0 0 5px rgba(17, 52, 188, 0.7),
                0 0 10px rgba(255, 69, 0, 0.7),
                0 0 15px rgba(255, 165, 0, 0.7),
                0 0 20px rgba(255, 255, 0, 0.7);
        }

        .explore-button {
    background: linear-gradient(90deg, #ffffff, #f0f0f0);
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: background 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    width: 9rem; /* Fixed width */
    height: 3rem; /* Fixed height */
    border: 2px solid #f87171;
}

.explore-button:hover {
    background: linear-gradient(90deg, #9f3bf6, #d12525);
    color: white;
    box-shadow: 0 8px 25px rgba(59, 130, 246, 0.5);
    border: 2px solid #f87171;
}

.explore-button::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: radial-gradient(circle, rgba(59, 130, 246, 0.5), transparent 70%);
    transform: rotate(45deg);
    transition: opacity 0.5s, transform 0.5s;
    opacity: 0;
    z-index: 0;
}

.explore-button:hover::before {
    transform: rotate(0deg);
    opacity: 1;
}

.explore-button .arrow-icon {
    transition: transform 0.3s ease-in-out, fill 0.3s ease-in-out;
}

.explore-button:hover .arrow-icon {
    transform: rotate(90deg);
    fill: white;
}

.explore-button span {
    position: relative;
    z-index: 10;
    display: inline-flex;
    align-items: center;
    gap: 8px;
}
/* Carousel */
.scroll-container {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-padding: 1rem;
  -webkit-overflow-scrolling: touch;
}

.scroll-item {
  flex: 0 0 100%;
  scroll-snap-align: center;
  transition: transform 0.3s ease-in-out;
}
